h1{
    color: crimson;
    font-size: 300;
    
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    font-weight: 100;
    
    
    

}
img{
     size: height 50px width 50px;
    text-align:center;
}